* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2 {
  font-family: serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex_space {
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}
.primary-btn {
  padding: 15px 40px;
  background-color: #7fc142;
  font-weight: bold;
  color: white;
}
.secondary-btn {
  padding: 15px 40px;
  background-color: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}
.container {
  max-width: 85%;
  margin: auto;
}
/*----------------------------- HEADER ----------------------------------------------------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}
header img {
  margin: 20px 0;
}
header ul {
  display: inline-block;
}
header ul li {
  display: inline-block;
  text-transform: uppercase;
}
header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}
header ul li a:hover {
  color: #7fc142;
}
header i {
  margin: 0 20px;
}
header button {
  padding: 13px 40px;
}
header .navlinks span {
  display: none;
}
/*------------------------------ HEADER END ----------------------------------------------------- */
.nav-link{
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
  text-transform: uppercase;
}
.navbar{
  height: 10vh;
}
/* --------------HOME ------------------------------------------------ */
.home {
  height: 100vh;
  color: #fff;
}
.home img {
  height: 100vh;
  width: 100%;
}
.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.home .text h1 {
  font-size: 80px;
  margin: 20px 0;
  font-weight: 400;
}
.home p {
  margin: 20px 0;
}
.home button {
  margin-right: 20px;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
}
.owl-nav .owl-prev {
  left: 0;
}
.owl-nav .owl-next {
  right: 0;
}
/* --------------- HOME END ----------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

/* --------------- FORM book----------------------------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}
input {
  outline: none;
  border: none;
  width: 100%;
}
.book {
  padding: 40px 0;
  background: #282834;
  color: #fff;
}
h1 {
  font-family: serif;
}
.book h1 {
  font-size: 28px;
}
.book h1 span {
  color: #7fc142;
}
.book input {
  padding: 20px;
}
.book input:nth-last-child(1) {
  background: #7fc142;
  color: #fff;
}
/* --------------- FORM book END ----------------------------------- */

/* --------------- about ----------------------------------- */
.left,
.right {
  width: 50%;
  padding: 30px;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: serif;
  position: absolute;
  top: -30px;
}
.heading h1 {
  margin: 30px 0;
  font-size: 45px;
  font-weight: 400;
  font-family: serif;
}

.about .heading h1 {
  top: 55px;
}
.about {
  position: relative;
}
.about .left {
  margin-top: 30px;
}
.about p {
  font-size: 15px;
}
.about button {
  margin: 30px 0;
}
/* --------------- about END ----------------------------------- */
/* --------------- Something ----------------------------------- */
.counter {
  background-image: url(https://www.nobuhotels.com/content/uploads/2024/01/Atlanta1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  color: #fff;
}
.counter .grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  padding-top: 60px;
}
.counter h1 {
  font-size: 50px;
}
.counter hr {
  width: 50%;
  margin: 10px auto;
  height: 2px;
  border: none;
  background: #7fc142;
}
/* --------------- something END ----------------------------------- */

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* --------------- rooms ----------------------------------- */
.rooms {
  position: relative;
}
.rooms .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}
.rooms i {
  font-size: 12px;
  color: #fbb234;
  margin: 15px 0;
  margin-right: 5px;
}
.rooms p {
  margin: 20px 0;
  opacity: 0.7;
}
.rooms h3 {
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #7fc142;
}
.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: -20%;
  height: 50px;
  width: 50px;
  background: #7fc142 !important;
  color: #fff;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  color: #fff;
}
.owl-nav .owl-prev {
  left: 90%;
}
.owl-nav .owl-next {
  right: 0;
}
/* --------------- rooms END ----------------------------------- */

/* --------------- Gallery----------------------------------- */
.gallery {
  position: relative;
}
.gallery img {
  width: 100%;
  height: 100%;
}
.gallery .img {
  position: relative;
}
.gallery .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(126, 193, 65, 0.86);
  width: 255px;
  height: 251px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}
.overlay {
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 3;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
}
.gallery span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
}
.overlay h3 {
  margin-top: 20px;
  font-weight: 500;
}
.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
  opacity: 1;
  cursor: pointer;
}

.gallery .owl-nav .owl-prev {
  left: 85%;
}
.gallery .owl-nav .owl-next {
  right: 5%;
}
.gallery .owl-nav .owl-prev,
.gallery .owl-nav .owl-next {
  top: -40%;
}
/* --------------- gallery END ----------------------------------- */

/* --------------- Services ----------------------------------- */
.services {
  position: relative;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.services .left {
  padding: 30px 0;
}
.services .box {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}
.services .box .text {
  padding: 30px 0;
  border: 1px dashed #fff;
}

.services i {
  font-size: 50px;
  color: #7fc142;
  transition: 0.5s;
}
.services h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  transition: 0.5s;
}
.services img {
  width: 100%;
  height: 100%;
}
.services .box:hover {
  background: #7fc142;
  color: #fff;
  cursor: pointer;
}
.services .box:hover i,
.services .box:hover h3 {
  color: #fff;
}
/* --------------- Services END ----------------------------------- */
/* --------------- Customer ----------------------------------- */
.Customer {
  background-image: url(/img/hotelimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  color: #fff;
  text-align: center;
}
.Customer .container {
  max-width: 70%;
}
.Customer .item {
  padding: 10% 0;
}
.Customer i {
  width: 100px;
  height: 100px;
  background: rgba(126, 193, 64, 0.5);
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}
.Customer p{
  line-height: 30px;
}
.Customer h3{
  margin-top: 20px;
  color: #7fc142;
}
.Customer span{
  font-size: 15px;
}

.owl-carousel2 .owl-dots{
  position: absolute;
  bottom: 70px;
  left: 46.6%;
}
.owl-carousel2  .owl-dots  i{
  color: #7fc142;
}
.owl-carousel2  .owl-dots  i:hover button{
  color: #7fc142 !important;
}
.owl-carousel2 span{
  border: 2px solid #fff;
  background: transparent !important;
}
.owl-carousel2 .active  span{
  background: #7fc142 !important;
  border: 2px solid #fff;
}
/* --------------- Customer END ----------------------------------- */
/* ---------------Pricing   ---------- ----------------------------------- */


.pricing1 h1,
.pricing1 h2,
.pricing1 h3,
.pricing1 h4,
.pricing1 h5,
.pricing1 h6 {
  color: #3e4555;
}

.pricing1 .font-weight-medium {
  font-weight: 500;
}

.pricing1 .bg-light {
  background-color: #f4f8fa !important;
}

.pricing1 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 14px;
}

.pricing1 .font-14 {
  font-size: 14px;
}

.pricing1 h5 {
    line-height: 22px;
    font-size: 18px;
}

.pricing1 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing1 .on-hover {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.pricing1 .on-hover:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -webkit-font-smoothing: antialiased;
}

.pricing1 .btn-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.pricing1 .btn-success-gradiant:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.pricing1 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.pricing1 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.pricing1 .btn-md {
  padding: 15px 30px;
  font-size: 16px;
}

.pricing1 .onoffswitch {
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 auto;
}

.pricing1 .onoffswitch-label {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 20px;
}

.pricing1 .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.pricing1 .onoffswitch-inner::before,
.pricing1 .onoffswitch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pricing1 .onoffswitch-inner::before {
  content: "";
  padding-right: 27px;
  background-color: #2cdd9b;
  color: #FFFFFF;
}

.pricing1 .onoffswitch-inner::after {
  content: "";
  padding-right: 24px;
  background-color: #3e4555;
  color: #999999;
  text-align: right;
}

.pricing1 .onoffswitch-switch {
  width: 23px;
  margin: 6px;
  height: 23px;
  top: -1px;
  bottom: 0;
  right: 35px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.pricing1 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.pricing1 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.pricing1 .price-badge {
  top: -13px;
  left: 0;
  right: 0;
  width: 100px;
  margin: 0 auto;
}

.pricing1 .badge-inverse {
  background-color: #3e4555;
}

.pricing1 .display-5 {
  font-size: 3rem;
	color: #263238;
}

.pricing1 .pricing sup {
  font-size: 18px;
  top: -20px;
}

.pricing1 .pricing .yearly {
  display: none;
}
/* --------------- Pricing End  --------------------------------------------- */

/* -------------media query-------------- */
@media only screen and (max-width: 768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #009f7f;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    z-index: 9;
  }
  header ul li {
    display: block;
  }
  header ul li a {
    color: white;
  }
  header i {
    color: white;
  }
  header .navlinks span {
    color: #000;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .offcanvas-body {
    background-color: #7fc142;
    text-align: center;
  }
}